* {
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  width: 100vw;
  background-color: #f3f3f3;
}

nav {
  height:50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #001628;
}

a {
  text-decoration: none;
}

nav > div {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 5px;
}

nav > div:hover {
  background-color: #898989;
}

#logo {
  font-size: 35px;
  font-family: 'Galada', cursive;
  color: #f3f3f3;
}

.nav-link {
  font-size: 23px;
  color: #f3f3f3;
}

.content {
  height: calc(100% - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
}

#create-application {
  width: 50%;
  display: flex;
  flex-direction: column;
  border: 3px solid #001628;
  border-radius: 7px;
  margin: 0 auto;
}

#create-application h2 {
  margin: 0 auto;
}

#create-application form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#create-application form div {
  margin: 3px 0;
}

.first-labels {
  display: inline-block;
  width: 70px;
}

.second-labels {
  display: inline-block;
  width: 170px;
}

button {
  display: block;
  width: 85px;
  height: 40px;
  color: white;
  background-color: #001628;
  border: none;
  border-radius: 3px;
  font-size: 22px;
  margin: 5px auto;
}

button:hover {
  background-color: #0069d9;
} 

label {
  color: #001628;
  margin-right: 5px;
  font-size: 20px;
}

#study-from-home-label {
  margin-left: 7px;
}

textarea {
  display: block;
  width: 98%;
  height: 75px;
  font-size: 18px;
  padding: 3px;
}

.input-height {
  box-sizing: border-box;
  height: 23px;
  font-size: 18px;
}

table {
  border-collapse: collapse;
  width: 97%;
  color: #001628;
}

thead {
  color: white;
  background-color: #545e8e;
}

td, th {
  border: 1px solid #001628;
  padding: 3px;
}

tr:nth-child(even) {
  background-color: #c5c9f6;
}

tbody tr:hover {
  background-color: #ddd;
}
